html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: black;
  box-sizing: border-box;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 6px 0px;
}

.time{
  font-size: 13px;
  font-weight: lighter;
}

.title{
  cursor: pointer;
}

p{
  margin:0px
}

button{
  cursor: pointer;
  color: white;
  background-color: transparent;
  border: 1px solid #9e9e9e;
  border-radius: 8px;
}

#markings {
  color: white;
  font-size: 15px;
  width: 400px;
  height: 90vh;
  overflow: auto;
  margin-bottom: 5px;
  font-family: Roboto, Arial, sans-serif
}
